body{
  background: black;
}

.container{
  border-radius: 30px;
  height: 300px;
}

.imageText1{
  color:#73114B ;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}
.imageText2{
  color:#73114B ;
  text-align: center;
  font-size: 12px;
   font-weight: bold;
   
}
.image{
  background: #FFE6C9;
}
.google{
  font-size: 15px;
  margin-left: 130px;
  background: #fff;
  color: #525252;
}
.icon{
  margin-right: 10px;
}
.sign{
  font-size: 12px;
  margin-top: 10px;
 text-align: center;
  margin-bottom: 20px;
  color: #525252;
}
.hw{
  color: #525252;
}
.hw1{
  color: #525252;
  margin-top: 10px;
}
.re{
  font-size:13px ;
}
.cr{
  font-size: 13px;
  margin-top: 20px;
}
.for{
  margin-left: 190px;
}

.container{
  padding: 20px;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.outer-border {
  border: 2px solid white; 
  border-radius: 20px;      
  padding: 10px;           
}


